@media all and (min-width: 1000px) {

  .telshow{
    display: none;
  }

}

  /* HD*/
@media only screen and (min-width: 1920px)  {


}


@media only screen (min-width: 1680px) and (max-width: 1920px) {

#bubbletext {
  font-size: 61px;
}

  .telshow{
    display: none;
  }

}

/* Macbook Pro */
@media only screen (min-width: 1440px) and (max-width: 1680px) {

  #bubbletext {
    font-size: 44px;
  }

  .telshow{
    display: none;
  }

  .littlesquares {
    width: 100%;
    height: 180px;
  }

  .littlesquare {
    width: 180px;
    height: 180px;
  }

  .bigsquare {
    width: 360px;
    height: 360px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  #bubbletext {
    font-size: 3rem;
  }

  .telshow {
    display: none;
  }

  .littlesquares {
    width: 100%;
    height: 160px;
  }

  .littlesquare {
    width: 160px;
    height: 160px;
  }

  .bigsquare {
    width: 320px;
    height: 320px;
  }

}


}
  /* Ipad Pro*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {

      #bubbletext {
        font-size: 2.25rem;
      }

      .telshow {
        display: none;
      }

      .littlesquares {
        width: 100%;
        height: 128px;
      }

      .littlesquare {
        width: 128px;
        height: 128px;
      }

      .bigsquare {
        width: 256px;
        height: 256px;
      }

      .lastsquares {
        width: 100%;
        height: 128px;
      }
}

/* ipad portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .telshow{
    display: none;
  }

#bubbletext {
    font-size: 1.5rem;
padding: 0;
margin: 0;
  }

  .littlesquares {
    width: 100%;
    height: 96px;
  }

  .littlesquare {
    width: 96px;
    height: 96px;
  }

  .bigsquare {
    width: 192px;
    height: 192px;
  }

  .item-bubble1 {
    width: 458px;
    height: 192px;
  }
  .item-bubble2 {
    width: 256px;
    height: 96px;

  }

  .item-bubble3 {
    width: 256px;
    height: 95px;
  }

  .item-bubble4 {
    width: 536px;
    height: 190px;
  }

  .item-bubble5 {
    width: 537px;
    height: 192px;
  }

  .item-bubble6 {
    width: 404px;
    height: 96px;
  }

  .item-bubble7 {
    width: 535px;
    height: 149px;
  }

.triangle1 {
  width: 77,59px;
  height: 108,08px;
}

.triangle2 {
  width: 63,9px;
  height: 89,58px;
}
.triangle3 {
  width: 59,97px;
  height: 83,54px;
}
.triangle4 {
  width: 66,94px;
  height: 93,24px;
}
  .littlesquares {
    width: 100vw;
    height: 96px;
  }

  .littlesquare {
    width: 95px;
    height:95px;
  }

  .bigsquare {
    width: 192px;
    height: 192px;
  }

  .line1 {
    width: 192px;
    height: 192px;
  }
}

/* iphone se */
@media only screen and (max-device-width: 375px)  {

  #bubbletext {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

.ls {
  display: none;
}
  .littlesquares {
    width: 100vw;
    height: 80px;
  }

  .littlesquare {
    width: 80px;
    height: 80px;
  }

  .item-bubble1 {
    width: 217px;
    height: 91px;
    top: 0;
  }

  .triangle1 {
    width: 36,9px;
    height: 51,4px;
    top: .2em;
  }
  .item-bubble2 {
    width: 126px;
    height: 47px;
    top: 3em;
    left: 1.5em;
  }

  .item-bubble3 {
    width: 125px;
    height: 47px;
  }

  .item-bubble4 {
    width: 230px;
    height: 91px;
  }

  .item-bubble5 {
    width: 251px;
    height: 91px;
  }

  .item-bubble6 {
    width: 177px;
    height: 47px;
  }

  .item-bubble7 {
    width: 535px;
    height: 149px;
  }

  .bigsquare {
    width: 160px;
    height: 160px;
  }

  .line1 {
    width: 50%;
    height: 160px;
  }

.bs {
  display: none;
}

.image1 {
display: none;
}

.image2 {
display: none;
}

}
