@media all and (min-width: 1000px) {

  .telshow{
    display: none;
  }

}

  /* HD*/
@media only screen and (min-width: 1920px)  {


}


@media only screen (min-width: 1680px) and (max-width: 1920px) {


.bubbletext {
  font-size: 61px;
}

  .telshow{
    display: none;
  }

}

/* Macbook Pro */
@media only screen (min-width: 1440px) and (max-width: 1680px) {

  .bubbletext {
    font-size: 44px;
  }

  .telshow{
    display: none;
  }

  .littlesquares {
    width: 100%;
    height: 180px;
  }

  .littlesquare {
    width: 180px;
    height: 180px;
  }

  .bigsquare {
    width: 360px;
    height: 360px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {

.zhdyom {
  margin-left: 4.6em;
  margin-top: 0;
}
  .telshow {
    display: none;
  }

  .littlesquares {
    width: 100%;
    height: 160px;
  }

  .littlesquare {
    width: 160px;
    height: 160px;
  }

  .bigsquare {
    width: 320px;
    height: 320px;
  }

}


}
  /* Ipad Pro*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {

      #bubbletext {
        font-size: 2.25rem;
      }

      .telshow {
        display: none;
      }

      .littlesquares {
        width: 100%;
        height: 128px;
      }

      .littlesquare {
        width: 128px;
        height: 128px;
      }

      .bigsquare {
        width: 256px;
        height: 256px;
      }

      .lastsquares {
        width: 100%;
        height: 128px;
      }

      .basmannaya {
        font-size: 18px;


      }
   .phonenumber {
     font-size: 18px;

   }
      .zhdyom {
        font-size: 36px;
        margin-left: 6em;
        margin-top: 0;
      }
}

/* ipad portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

.telshow {
  display: none;
}

  .bubbletext {
    font-size: 1.5rem;
    line-height: 1.2em;
    margin-top: 2em;
  }
.basmannaya {
  font-size: 12px;
}
.zhdyom {
  font-size: 24px;
}
#image1 {
  width: 40%;
  height: 40%;

}


#image3 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
#image4 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
#image5 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
#image6 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
#image7 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
#image8 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
#image9 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
#image10 {
  width: 80%;
  height: 80%;
  left: calc(50% - 76px);
  top: calc(50% - 76px);
}
  .image2 {
    width: 70%;
    height: 70%;
  }



  .littlesquares {
    width: 100vw;
    height: 96px;
  }

  .littlesquare {
    width: 96px;
    height: 96px;
  }

  .item_bubble1 {
    width: 458px;
    height: 192px;
    top: 0;
    left: 21em;
  }

  .triangle1 {
    display: inline-block;
    width: 77.59px;
    height: 108.08px;
    top: 8.6em;
    left: 1.8em;

  }
  .item_bubble2 {
    width: 256px;
    height: 97px;
    top: 17.96em;
    left: 10em;
  }

  .triangle2 {
    display: inline-block;
    width: 31.62px;
    height: 44.33px;
    top: 1.4em;
    left: 1em;
  }


  .item_bubble3 {
    width: 256px;
    height: 95px;
    top: 24.01em;
    left: 31.6em;
  }

  .triangle3 {
    display: inline-block;
    width: 59.97px;
    height: 83.54px;
    top: 3em;
    left: 2em;
  }


  .item_bubble4 {
    width: 536px;
    height: 192px;
    top: 36em;
    left: 16.6em;
  }

  .triangle4 {
    display: inline-block;
    width: 66.94px;
    height: 93.24px;
    top: 9em;
    left: 5em;
  }

  .item_bubble5 {
    width: 537px;
    height: 192px;
    top: 48em;
    left: 11.24em;
  }

  .triangle5 {
    display: inline-block;
    width: 63.9px;
    height: 89.58px;
    top: 9em;
    left: 26em;
  }

  .item_bubble6 {
    width: 537px;
    height: 192px;
    top: 60em;
    left: 17.2em;
  }

  .item_bubble7 {
    width: 535px;
    height: 149px;
    top: 70em;
    left: 15em;
  }

  .item_bubble6 {
    width: 404px;
    height: 96px;
    top: 60em;
    left: 17.2em;
  }
  .triangle6 {
    display: inline-block;
    width: 59.97px;
    height: 83.54px;
    top: 3.56em;
    left: 2.9em;
  }

.bubbletext6 {
margin-left: 3px;
margin-top: 4px;
}

  .item_bubble7 {
    width: 535px;
    height: 149px;
  }

  .triangle7 {
    display: inline-block;
    width: 63.9px;
    height: 89.58px;
    top: 4.4em;
    left: 2.9em;
  }

.bigsquares {
  width: 100vw;
  height: 192px;
}

  .bigsquare {
    width: 192px;
    height: 192px;
  }

  .lastsquares {
    width: 100%;
    height: 96px;
  }

.basmannaya {
  font-size: 0.75rem;
}
.zhdyom {
  font-size: 1.5rem;
}
  /* .littlesquares {
    width: 100vw;
    height: 96px;
  }

  .littlesquare {
    width: 95px;
    height:95px;
  }

  .bigsquare {
    width: 192px;
    height: 192px;
  }

  .line1 {
    width: 192px;
    height: 192px;
  } */
}

  /* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {

    .bubbletext {
      font-size: 1rem;
    }


    .ls {
      display: none;
    }

    .bs {
      display: none;
    }
}


/* iphone se */
@media only screen and (min-width: 320px) and (max-width: 375px)  {

  .bubbletext {
    font-size: 1rem;

  }

  .bubbletext {
  top: 1em;

  }

  .bubbletext3 {
  top: 1em;
  line-height: 10px;
  margin-left: 6px;
  margin-top: 1px;
  }

.ls {
  display: none;
}

  .littlesquares {
    width: 100vw;
    height: 80px;
  }

  .littlesquare {
    width: 80px;
    height: 80px;
  }

  .item_bubble1 {
    width: 217px;
    height: 91px;
    top: 0;
    left:5em;
  }

  .triangle1 {
    display: inline-block;
    width: 36px;
    height: 51px;
    top: 4em;
    left: 1em;

  }
  .item_bubble2 {
    width: 126px;
    height: 47px;
    top: 7em;
    left: 5.04em;
  }

  .triangle2 {
    display: inline-block;
    width: 31.62px;
    height: 44.33px;
    top: 1.4em;
    left: 1em;
  }
  .item_bubble3 {
    width: 125px;
    height: 47px;
    top: 12.1em;
    left: 9.93em;
  }

  .triangle3 {
    display: inline-block;
    width: 29.26px;
    height: 40.75px;
    top: 1.4em;
    left: 1em;
  }

  .item_bubble4 {
    width: 230px;
    height: 91px;
    top: 17.2em;
    left: 4.968749em;
  }

  .triangle4 {
    display: inline-block;
    width: 36.9px;
    height: 51.4px;
    top: 4em;
    left: 1em;
  }

  .item_bubble5 {
    width: 251px;
    height: 91px;
    top: 22.9em;
    left: 2.4em;
  }

  .triangle5 {
    display: inline-block;
    width: 30.44px;
    height: 42.67px;
    top: 4.4em;
    left: 2.9em;
  }

  .item_bubble6 {
    width: 177px;
    height: 47px;
  }

  .item_bubble7 {
    width: 535px;
    height: 149px;
  }

  .bigsquare {
    width: 160px;
    height: 160px;
  }

.telbigsquares {
  width: 100%;
  height: 160px;
}

  .telline1 {
    width: 100%;
    height: 320px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }

  .telline2 {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }

  .lastsquares {
    width: 100%;
    height: 80px;
  }

  .bs {
    display: none;
  }

  .image1 {
  display: none;
  }

  .image2 {
  display: none;
  }

  .image3 {
    width: 20%;
    height: 20%;
  }

  .image4 {
    width: 20%;
    height: 20%;
  }

  .chornayaladya {
    position: absolute;
    justify-content: center;
    display: inline-block;
    align-items: center;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    animation: chornayaladya 2s linear infinite;
    animation-play-state: paused;
  }

  .last4,
  .last5,
  .last6,
  .last7 {
    width: 40px;
    height: 40px;
  }



}
